#walrus-showing1 {
  display: none;
}

#walrus-showing2 {
  display: none;
  float:right;
}


.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable: hover {
  text-decoration: underline;
}

#walrusright {
  float: right;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2: hover {
  text-decoration: underline;
}

#walrus-hidden2 {
  float: none;
}

.black-background {
  background-color: #000000;
  color: white;
}

.white-background {
  background-color: #ffffff;
}

.red-background {
  background-color: #660000;
  color: white;
}
